.card-location-title {
  display: flex;
  justify-content: space-between;
}

// .del-button {
//   width: 20px;
//   height: 20px;
// }
.admin-page-btn {
  display: flex;
  justify-content: space-between;
}
